*{
    box-sizing: border-box;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f5f7;
    min-height: 100%;
    margin: 10%;
    font-family: "Baloo Bhaijaan 2", serif;
}

.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.22);
}

.main_card{
    position: absolute;
    height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.1rem;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

#signIn_card{
    max-width: 50%;
    left: 0%;
    opacity: 1;
    z-index: 2;
}

#signUp_card{
    max-width: 50%;
    right: 0%;
    opacity: 0;
    z-index: 1;
}
input{
    width: 80%;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 0 14px 28px rgba(0,0,0,.15),
                0 10px 10px rgba(0,0,0,.01);;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: #f6f5f7;
    padding: .7rem 1.5rem;
    margin-top: 2.5rem;
    border-radius: .5rem;
    
}

.text_card{
    position: absolute;
    height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(248, 255, 52);
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}
    

.overlay_left{
    max-width: 50%;
    left: 0%;
    z-index: 1;
    opacity: 0;
    
}

.overlay_right{
    max-width: 50%;
    right: 0%;
    z-index: 2;
    opacity: 1;
    
}

.container.active #signIn_card{
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
}

.container.active #signUp_card{
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}


.container.active .overlay_right{
    opacity: 0;
    z-index: 1;
}

.container.active .overlay_left{
    opacity: 1;
    z-index: 2;
}






